<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:icon="@drawable/pc_drone_icon"
        android:roundIcon="@drawable/pc_drone_icon"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCDrone">


        <activity
            android:name=".BackupActivity"
            android:exported="false" />

        <activity
            android:name=".HistoryReportActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    
        <receiver
            android:name=".JobNotificationReceiver"
            android:exported="false" />


        <provider
            android:name=".BackupFileProvider"
            android:authorities="${applicationId}.backup-files"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name=".FinanceReportProvider"
            android:authorities="${applicationId}.finance-reports"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name=".HistoryReportProvider"
            android:authorities="${applicationId}.history-reports"
            android:exported="false"
            android:grantUriPermissions="true" />

    </application>

</manifest>
